/Config files/Flexget/own
/RaspBMC/*.img
/RaspBMC/2014.06.01 RaspBMC.clg v0.1.zip
/RaspBMC/2014.06.01 RaspBMC.clg v0.2.zip
/RaspBMC/2014.06.01 RaspBMC.clg v0.3.zip
/RaspBMC/2014.07.14 RaspBMC.clg v0.4.zip
/RaspBMC/2014.09.04 RaspBMC.clg v0.5.zip
